.heading{
	font-size: 30px;
	font-family: cursive, serif;
	color: black;
	position: absolute;
	left: 125px;
	top: -75px;
	display: inline-block;
}
.label {
	font-size: 20px;
	position: absolute;
	top: 50px;
	left: 870px;
	font-family: cursive, serif;
}
.input{
	position: absolute;
	top: 210px;
	left: 870px;
	right: 100px;
	border-style: none;
	padding: 2px 1px 2px 1px;
	border-radius: 5px;
	line-height: 2;

}
.login_box{
	background-color: cyan;
	height: 500px;
	width: 350px;
	position: relative;
	top: 100px;
	left: 750px;
	display: inline-block;
	border-radius: 30px;
}
